<section class="full-page">
  <h1 class="mb-5">
    - Business-
  </h1>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-auto">
        <h3 class="text-center">
          CHS Inc
        </h3>
        <div> May 2022  ---  {{now | date:'medium'}}</div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-auto">
        <h3 class="text-center">
          Wex Inc
        </h3>
        <div> May 2017  ---  April 2022</div>
      </div>
    </div>
  </div>
</section>